@{
    ViewData["Title"] = "Home Page";
}
@Model 
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Home" asp-action="GetAllFilmToDb" class="btn btn-primary">Get All Film To Database</a>
</div>
